body{
    margin: 0;

}
.container{
    margin: 0px 30px;

    
   }
   
   .header{
     background-image: url(https://wallpapercave.com/wp/wp5901457.jpg);
     height: 100vh;
     background-repeat: no-repeat;
     background-size: cover;
     font-family: 'Open Sans', sans-serif;
   }
   .header-logo{
    position: absolute;
    left: 0px;
    top:-30px;
   }
   
 .header-down{
    position: relative;
    
   
 }
   .header-title{
    color: red;
    font-size: 60px;
    
    text-align:left;

    position: absolute;
    left: 0;
    
    
    margin-top: 280px;
    
   }
   .header-subtitle{
    color: white;
    font-size: 25px;
    position: absolute;
    left: 0;
    padding: 10px;
   
   }
   
   .header-button{
    background-color: red;
    color: white;
    text-decoration: none;
    padding: 18px 31px;
    font-size: 18px;
    transition:background-color 0.35s linear;
    position: absolute;
    top:  260px;
    left: 10px;
   }
   .header-button:hover{
    background-color: rgb(60, 2, 2);
   }


  
   .text{
    
   font-size: 75px;
   color: white; 
   text-align: center;
   position: relative;
   top: 100px;
   font-family: 'Open Sans', sans-serif;
  

   }
   .subtitle{
  
    color: white;
   text-align: center; 
    font-size: 25px;
    position: relative;
    top: 125px;
    font-family: 'Open Sans', sans-serif;
   }

   .cards-holder{
    display: flex;
    justify-content: center;
   
   }

   .cards{
    background-color: red;
    height: 100vh;
    background-size: cover;
    
    
    
   }
   .card{
    background-color: #fff ;
    width: 300px;
    height: 280px;
    margin-right: 35px;
    margin-top: 200px;
   
  }
   .card-image{
    display: flex;
    justify-content: center;
    margin-top: 25px;
   
   }
   .card-title{
    display: flex;
    justify-content: center;
    padding: 30px;
    font-size: 25px;
    font-weight: 400;
    text-decoration: none;
    color: black;
    transition:color 0.35s linear;
   }
   .card-title:hover{
    color:red
   }




   

.head-feedback{
  font-size: 400px;
  color: white;
  position: relative;
  top: 130px;
  left: 90px;
  font-family: 'Open Sans', sans-serif;
}
.text-feedback{
color: white;
left: 100px;
font-size: 36px;
width: 680px;
position: relative;
  top: -110px;
  font-family: 'Open Sans', sans-serif;
}
.name-feedback{
  color: white;
  font-size: 36px;
left: 100px;
position: relative;
  top: -60px;
  font-family: 'Open Sans', sans-serif;
}

   .black{
     background-color:   #292d33;
     height: 43vh;
   }
 .photo{
  display: flex;
  justify-content: center;
  

 }
 .photo-img
{
  display: flex;
  justify-content: center;
  width: 280px;
  height: 360px;
  margin-right: 20px;

}   
.ph1{
  position: relative;
  top: -285px;
}
.ph2{
  position: relative;
  top: -180px;
 
}
.ph3{
  position: relative;
  top: -285px;
 
}
.ph4{
  position: relative;
  top: -180px;
 
}

.header-feedback{
  background-image: url(images/Нуршат.jpg);
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
 
}
.aboutus{
  display: flex;
  justify-content: center;
}
   .a{
    width: 480px;
    font-size: 25px;
    position: relative;
    top: -116px;
    left: -45px;
    font-family: 'Open Sans', sans-serif;
   }
  .b-button{
    background-color: red;
    color: white;
    text-decoration: none;
    padding: 18px 31px;
    font-size: 18px;
    transition:background-color 0.35s linear;
    position: relative;
    top:-28px;
    left: -45px;
    font-family: 'Open Sans', sans-serif;
   }
   .b-button:hover{
    background-color: rgb(60, 2, 2);
   }
.c{
  width: 586px;
  font-size: 25px;
  position: relative;
  top: -116px;
  left: 85px;
  font-family: 'Open Sans', sans-serif;
}
.d{
  color: red;
  font-size: 30px;
  text-decoration: none ;
  position: relative;
  top: -42px;
  left: 135px;
  font-family: 'Open Sans', sans-serif;
}

.e{
  position: relative;
  top: -7px;
  left: 100px;
}

.foot-black{
  background-color:   #292d33;
  height: 43vh;
}



  .carusel{
    background-color:  #292d33;
    background-size: cover;
    height: 100%;
  }
  
 
 
  .section-g {
    width: 1200px;
    height: 600px;
    background-color: #eee3e3;
   position: relative;
   left: 180px;  
   top: 90px;  
  }
  .content-g {
    width: 1280px/1366px * 100%;
    max-width: 1366px;
    margin: 0 auto;
    position: relative;
    top: -275px; 
  
    
  }
  .slider{
      width: 1170px;
      height: 575px;
      overflow: hidden;  
      
  }
  .middle{
      position: absolute;
      top: -35%;
      left: 50%;
      transform: translate(-50%, 50%);
  }
  .navigation{
      position: absolute;
      bottom: 16px;
      left: 50%;
      transform: translateX(-50%);
      display: flex;
  }
  .bar{
      height: 8px;
      width: 30px;
      margin: 6px;
      cursor: pointer;
      background-color: #ddd;
      opacity: .5;
      border-radius: 10px;
      transition: all .4s ease;
  }
  .bar:hover{
      opacity: 1;
      transform: scale(1.1);
  }
  input[name="r"] {
      position: absolute;
      visibility: hidden;
  }
  
  .slides{
      width: 400%;
      height: 100%;
      display: flex;
  }
  .slide{
      width: 25%;
      transition: all .6s ease;   
  }
  .slide img{
      width: 100%;
      height: 100%;
  }
  
  #r1:checked ~ .s1 {
      margin-left: 0;
  }
  
  #r2:checked ~ .s1 {
      margin-left: -25%;
  }
  .txt{
    font-size: 50px;
    position: relative;
    top: 30px;
    font-family: 'Open Sans', sans-serif;
    color: white;
    text-align: center;
}


.zag{
  text-align: left;
  color: red;
  position: absolute;
  width: 1650px;
  top: 191px;
  left: 40px;
  font-weight: 700;
  font-size: 84px;
}
.obsh{
  display: flex;
  text-align: left;
  position: relative;
  top: 420px;
  left: 47px;

}
.on{
display: flex;

}
.sol{
  display: flex;
margin-right: 160px;
}
.profile-text{
  font-family: 'Open Sans', sans-serif;
  font-size: 30px;
  position: relative;
  left: 10px;
  top: -10px;
  
}
.data-text{
  font-family: 'Open Sans', sans-serif;
    font-size: 30px;
    position: relative;
    left: 7px;
    top: -10px;
}

.back{
  background-image: url(images/back-title.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  position: relative;
  top: 470px;
  left: 50px;
  width: 1400px;
  height: 800px;
}
  
.opisania{
  position: relative;
  top: 550px;
}
.up{
  font-size: 80px;
  position: relative;
  color: red;
  left: 20px;
  font-family: 'Open Sans', sans-serif;
}
.down{
  width: 1200px;
  font-size: 30px;
  position: relative;
  left: 20px;
  top: 20px;
  font-family: 'Open Sans', sans-serif;
}

.list{
  position: relative;
  top: 650px;
}
.up-list{
  font-size: 80px;
  position: relative;
  color: red;
  left: 20px;
  font-family: 'Open Sans', sans-serif;
}
.down-list{
  font-size: 30px;
  position: relative;
  left: 20px;
  top: 20px;
  font-family: 'Open Sans', sans-serif;
}

.podtiagivania{
  position: relative;
  top: 780px;
}
.pod-text{
  position: relative;
  font-size: 70px;
  left: 20px;
}
  .pod-subtitle{
    position: relative;
    left: 20px;
    font-size: 30px;
    width: 1300px;
  }
  .pod-video{
    position: relative;
    left: 100px;
  }
  .tiaga{
    position: relative;
    top: 1000px;
    
  }
  .tiaga-video{
    position: relative;
    left: 600px;
    top:-580px;
   
  }
  .tiaga-text{
    position: relative;
    font-size: 55px;
    left: 50px;
  }
  .tiaga-subtitle{
    position: relative;
    left: 50px;
    font-size: 33px;
    width: 370px;
    top: 10px;
  }

  .naklon{
    position: relative;
    top: 700px;
  }

  .naklon-text{
    position: relative;
    font-size: 70px;
    left: 20px;
  }
    .naklon-subtitle{
      position: relative;
      left: 20px;
      font-size: 30px;
      width: 1300px;
      
    }
    .naklon-video{
      position: relative;
      left: 100px;
      top: 30px;
    }
    .comments{
      position: relative;
      top: 1000px;
      left: 50px;
      
    }

    .name{
      position: relative;
      top: 10px;
      width: 250px;
      height: 50px;
    }
    .email{
      position: relative;
      top: 20px;
      
      width: 250px;
      height: 50px;
     
    }
    .com{

      width: 900px;
      height: 400px;
    }
    .com::placeholder{
      position: relative;
      top: -175px;
      font-size: 17px;
      
    }
    .p-button{
      background-color: red;
      color: white;
      text-decoration: none;
      padding: 18px 31px;
      font-size: 18px;
      transition:background-color 0.35s linear;
      position: relative;
      top:60px;
      left: 0px;
      font-family: 'Open Sans', sans-serif;
     }
     .p-button:hover{
      background-color: rgb(60, 2, 2);
     }
     .end{
      position: relative;
      top: 1100px;
      background-color:   #292d33;
      height: 43vh;
    }
    .chest{
      background-image: url(images/chest-title.jpg);
      background-size: cover;
      background-repeat: no-repeat;
      height: 100%;
      position: relative;
      top: 470px;
      left: 50px;
      width: 1400px;
      height: 800px;
    }
    .legs{
      background-image: url(images/legs-title.png);
      background-size: cover;
      background-repeat: no-repeat;
      height: 100%;
      position: relative;
      top: 470px;
      left: 50px;
      width: 1400px;
      height: 800px;
    }
    .arms{
      background-image: url(images/arms-title.jpg);
      background-size: cover;
      background-repeat: no-repeat;
      height: 100%;
      position: relative;
      top: 470px;
      left: 50px;
      width: 1400px;
      height: 800px;
    }

   